

                
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* @font-face {
    font-family: Helvetica Neue;
    src: url(../რედბერი/fonts/HelveticaNeue.ttc);
  } */

body{
    width: 1920px;
    height: 1080px;
    width: 100%;
}
.logo{
    padding: 20px;
    margin-left: 20px;
}
.line{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #1a1a1a;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    position: absolute;                               
}
.logo2{
    margin-top: 150px;
    margin-left: 400px;
}

.button .add{
    padding: 18px 60px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
    font-family: testF;
    text-transform: uppercase;
    
}

.add a{
    color: white;
}
/* აქედან ფორმი */

.whole-page{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 244, 245);
}

.left-page{
    width: 60%;
    padding: 30px 90px;
    
}
.head h1{
    text-transform: uppercase;
}
.right-page{
    width: 40%;
    background-color: white;
    
}
.head, .full-name, .date{
    display: flex;
    justify-content: space-between;
}
.firstname, .lastname, .about, .mail, .number, .tanamdeboba, .damsakmebeli, .start, .end, .saswavlebeli {
    display: flex;
    flex-direction: column;
}
.whole-page label{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: helvetica;
    font-weight: 400;
    line-height: 21px;
}
.whole-page p{
    font-size: 14px;
    color: #9a9797;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family:  helvetica;
}

div .bottom-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    
}

.next input, .prev input{
    background-color: #6B40E3;
    color: white;
    padding: 10px  50px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

input{
    height: 48px;
    border: 1px solid #BCBCBC;
}
.back{
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
}
.vector{
    position: absolute;
    margin-left: 15px;
    margin-top: 13px;
}
.ellipse{
    position: absolute;

}
.right-page .small-logo{
    padding: 20px 40px;
    margin-top: 100%;
}
.names{
    width: 280px;
}
.about textarea{
    border-style: none;
    resize: none;
    height: 80px;
    border: 1px solid #BCBCBC;
}

.file-upload{
    background-color: #0E80BF;
    padding: 10px 40px;
    color: white;
    margin-left: 40px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    cursor: pointer;
}
.upload{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.end-line{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #C1C1C1;
}

.add-experience{
    background-color: #62A1EB;
    padding: 18px 60px;
    color: white;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}



.start-input, .end-input{
    
    width: 280px;
    
}
#start-input{
    background-image: url(../რედბერი/imgs/down-.png);
    background-repeat: no-repeat;
    background-position: right;
}



#addition{
    display: none;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.center{
    width: 50%;
    height: 1080px;
}
.left{
    width: 25%;
    height: 1080px;
}
.right{
    width: 25%;
    height: 1080px;
}

#back{
    margin-left: 20px;
    margin-top: 40px;
}
.resume{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    margin-top: 50px;
    position: relative;

}
.success{
    position: relative;
    width: 240px;
    height: 90px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    
}

.success p{
    padding: 20px;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#success{
    display: block;
}

.resume-logo{
    position: absolute;
    padding:10px 70px;
    margin-top: 100%;
}

.inputs-container{
    display: flex;
    flex-direction: row;
}

.inputs-container div{
    padding: 40px;
}

.full_name_input{
    color: #F93B1D;
    text-transform: uppercase;
    font-size: 30px;
}
#targetEmail{

}
#targetDescription, #targeteduDescription, #targetAbout{
    font-size: 16px;
    color: black;
}

#targetEmail, #targetPhone{
    font-size: 18px;
    color: black;
}
#targetWork{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
#targetDate, #targetStartDate{
    font-size: 16px;
    color: #919191;
    font-style: italic;
}
.inputs-container h3{
    color: #F93B1D;
}

.inputs h3{
    font-size: 18px;
    color: #F93B1D;
}


#display_image{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.inputs{
    padding: 40px;
}

::placeholder{
    font-size: 16px;
    padding: 15px;
}